.media {
   height: 10em;
   width: auto;
}
.root {
   position: relative;
   max-width: 15.62em;
   margin: 1em;
   background-color: white;
}
.flex {
   display: flex;
   align-content: center;
   justify-content: space-around;
}
.price {
   display: flex;
   align-items: center;
}
.price-span {
   height: fit-content;
}

.media:hover:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 10em;
   opacity: 0.2;
   background: rgb(28, 110, 215);
   background: linear-gradient(
      45deg,
      rgba(28, 110, 215, 1) 35%,
      rgba(219, 55, 215, 1) 72%
   );
}

.root:hover {
   transform: translateY(-0.2em);
   box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
